################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StringsComparison/v15
/Compare Example/bin/Debug
/StringsComparion/bin/Debug
/Compare Example/obj/Debug
/StringsComparion/obj
